@font-face 
{
  font-family: 'Poppins-Light';
  src: url('../Font/Poppins-Light.ttf');
}
@font-face 
{
  font-family: 'Poppins';
  src: url('../Font/Poppins-Regular.ttf');
}
@font-face 
{
  font-family: 'Poppins-Medium';
  src: url('../Font/Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #f8f9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 110px;
}

.logo {
    font-size: 25px;
    font-family: 'Poppins-Medium';
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 0 3px;
}

.btn-masuk {
    color: #30B0C7;
    border: 1px solid #30B0C7;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-masuk:hover {
    color: white;
    background-color: #30B0C7;
}

.btn-daftar {
    color: white;
    background-color: #30B0C7;
    font-size: 15px;
    padding: 10px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.btn-daftar:hover {
    background-color: #2480aa;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px;
    background: url('../Images/background-hero.svg') no-repeat center;
    background-size: cover;
    margin-top: -15px;
    height: 100vh;
    width: 100vw;
}

.hero-content {
    max-width: 50%;
    height: 100%;
    margin-top: 21rem;
}

.hero-content h1 {
    font-family: 'Poppins-Medium';
    font-stretch: extra-expanded;
    font-size: 60px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #000;
    line-height: 70px;
    animation: fadeInLeft 1s ease-in-out forwards;

}

.hero-content h1 span {
    font-family: 'Poppins-Medium';
    color: #00C7BE;
    
}

.hero-content p {
    font-family: 'Poppins-Light';
    font-size: 15px;
    color: #444;
    margin-top: 10px;
    line-height: 1.7;
    margin: 40px 0px;
    animation: fadeInLeft 1.2s ease-in-out forwards;

}

.buttons {
    margin-top: 20px;
}

.primary-btn {
    background-color: #30B0C7;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    box-shadow: 4px 4px 0px black;
    transition: all 0.2s ease-in-out;
    animation: fadeInLeft 2s ease-in-out forwards;

}

.primary-btn:hover {
    background-color: #2480aa;
    box-shadow: none;
}


.secondary-btn {
    background-color: transparent;
    border: 2px solid #30B0C7;
    color: #30B0C7;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    animation: fadeInLeft 1.7s ease-in-out forwards;

}

.secondary-btn:hover {
    background-color: #30B0C7;
    color: white;
}

.hero-image img {
    max-width: 110%;
    background-image: no-repeat center;
    background-size: contain;
    margin-top: -8rem;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation: fadeInRight 2.2s ease-in-out forwards;

    
}

.brand-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 120px;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.logo-container img {
    height: 40px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.logo-container img:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.makanan {
    width: 100%;
    align-items: center;
    padding: 0px 110px;   
    margin-top: 10rem;
}

.makanan-text {
    display: flex;
    justify-content: space-between;
}

.text-makanan-kanan h1 {
    text-align: right;
    font-family: 'Poppins-Medium';
    font-stretch: extra-expanded;
    font-size: 50px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #000;
}
.text-makanan-kanan{
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.text-makanan-kiri p {
    width: 75%;
    margin: auto;
    text-align: right;
    font-family: 'Poppins-Light';
    font-size: 15px;
    color: #444;
    margin-top: 10px;
    line-height: 1.7;
    
}
.text-makanan-kiri {
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.image-container {
    width: 55%;
    animation: fadeInLeft linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.text-container {
    width: 45%;
    text-align: left;
    margin-top: -5rem;
    margin-left: 60px;
}

.text-container h2 {
    font-family: 'Poppins-Light';
    font-size: 15px;
    color: #30B0C7;
    letter-spacing: 2px;
    margin-bottom: 20px;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.text-container h1 {
    font-family: 'Poppins-Medium';
    font-size: 35px;
    color: black;
    margin-bottom: 30px;
    line-height: 45px;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.text-container p {
    width: 90%;
    font-family: 'Poppins-Light';
    font-size: 15px;
    color: #666;
    line-height: 2.5;
    margin-bottom: 30px;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.primary-btn-makanan {
    background-color: #30B0C7;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    box-shadow: 4px 4px 0px black;
    animation: fadeInUp linear;
    transition: 0.3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.primary-btn-makanan:hover {
    background-color: #2480aa;
    box-shadow: none;
}

.penyakit {
    width: 100%;
    position: relative;
    align-items: center;
    padding: 100px 110px;
    margin-top: 4rem;
    margin-bottom: 10rem;
    background-color: #dcfaffbd;
    z-index: 0;
}

.bakcgound-penyakit {
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
    z-index: -1;
}

.penyakit1 {
    display: flex;
    width: 100%;
    gap: 25px;
}

.card1 {
    width: 90%;
    float: inline-end;
    background: white;
    border-radius: 15px;
    height: 350px;
    border: 1px solid;
    border-color: black;
}

.card_highlight1 {
    width: 110%;
    border-color: #30B0C7;
    background: #30B0C7;
}

.penyakit2 {
    display: flex;
    width: 100%;
    gap: 25px;
    margin: 50px 0;
}

.card2 {
    width: 90%;
    float: inline-end;
    background: white;
    border-radius: 15px;
    height: 350px;
    border: 1px solid;
    border-color: black;
}

.card_highlight2 {
    width: 110%;
    border-color: #30B0C7;
    background: #30B0C7;
}

.olahraga {
    background: url('../Images/background-aktivitas.svg') no-repeat center;
    background-size: cover;
    width: 100%;
    align-items: center;
    padding: 0px 110px;   
}

.olahraga-text h1 {
    text-align: left;
    font-family: 'Poppins-Medium';
    font-stretch: extra-expanded;
    font-size: 50px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #000;
}

.blog-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.blog-card {
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    text-align: left;
}

.blog-card img {
    width: 370px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #30B0C7;
    transition: 0.2s;
}

.blog-card img:hover {
    box-shadow: 4px 4px 0px #30B0C7;
}

.tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.tag {
    border: 1px solid #30B0C7;
    padding: 5px 12px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: #30B0C7;
    transition: 0.2s;
}

.tag:hover {
    background-color: #30B0C7;
    color: white;
}

.blog-card h3 {
    font-family: 'Poppins-Medium';
    font-size: 30px;
    margin: 20px 0;
    font-weight: bold;
}

.blog-card p {
    font-family: 'Poppins-Light';
    font-size: 14px;
    color: #555;
    margin-bottom: 27px;
}

.footer {
    width: 100%;
    height: 20px;
    align-items: center;
    padding: 0px 110px;   
    margin-top: 10rem;
    background-color: black;
}

.menu-bar{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

footer {
    width: 100%;
    background-color: #30B0C7;
    margin-top: 10rem;
}

.container-footer {
    padding: 32px 110px 32px 110px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-footer {
    color: white;
    font-size: 25px;
    font-family: 'Poppins-Medium';
}

.desk-footer {
    font-family: 'Poppins-Light';
    max-width: 448px;
    margin: 0 auto;
    margin-top: 16px;
    color: white;
    font-size: 15px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: #30B0C7;
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    opacity: 0.8;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(70px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

/* Mobile Responsive Navbar */
@media only screen and (max-width: 575px){
    body{
        overflow-x: hidden;
    }
    .menu-bar{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 70vh;
        justify-content: center;
        margin-top: -105%;
        transition: all 0.5s ease;
    }
    .auth-buttons {
        position: absolute;
        top: 65%;
        left: 51%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -170%;
        transition: all 0.5s ease;
    }
    
    .mobile-menu{
        margin-top: 0;
    }

    .nav-links li{
        margin: 30px auto;
    }

    .judul-text1{
        width: 50%;
        height: 40vh;
    }

    .hero-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .hero-content p {
        flex: 1;
        min-width: 300px;
    }
    
    .buttons{
        height: 10vh;
        display: flex;
        margin-top: 300px;
    }

    .primary-btn{
        height: 15vh;
        width: 25vw;
    }
    .secondary-btn{
        height: 15vh;
        width: 25vw;
    }

    .brand-logos{
        margin-top: 50%;
    }
    .hero-image{
        transform: scale(2.4); /* Perbesar 1.5x */
        transition: transform 0.3s ease-in-out;
    }
    .hero {
        display: grid;
        grid-template-areas: 
            "text"
            "image";
        text-align: center;
    }
    
    .hero-content {
        grid-area: text;
    }
    
    .hero-image {
        grid-area: image;
        width: 80%;
        max-width: 180px;
        margin-left: 40px;
        margin-top: -110px;
    }
    
    .brand-logos{
        margin-top: 700px;
        .brand-logo {
            max-width: 100%; /* Supaya tidak lebih besar dari container */
            height: auto;
        }
        
    }
    .logo-container{
        overflow: visible; /* Pastikan tidak terpotong */
        display: flex;
        justify-content: space-around; /* Menjaga jarak antar brand */
        align-items: center;
        flex-wrap: wrap; /* Supaya tidak terpotong jika ukuran terlalu kecil */
    }
    .makanan{

    }
    
}
